<%= form_for @reminder do |f| %>

  <div class="field">
    <%= f.label :reminder_name %>
    <%= f.text_field :reminder_name %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_field :start_time %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date, :discard_minute => true,  :discard_hour => true   %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.time_field :duration %>
  </div>



  <div class="field" id="#laundry-form">
    <%= f.button "Create Reminder" %>
  </div>

<% end %>

