
<h1><%= @reminder.reminder_name %></h1>
<h2>Date: <%= @reminder.date.strftime("%m/%d/%Y") %></h2>
<h2>Start Time: <%= @reminder.start_time.strftime("%H:%M")%></h2>
<h2>Duration: <%= @reminder.duration %>min</h2>
<h2> Repetition: <%= @reminder.repetition %>min</h2>
