<h1>Monthly View</h1>

<% @reminders.each do |r| %>
 <h1> Reminder: <%= r.reminder_name %> </h1>
 <h3> Date: <%= r.date.strftime("%m/%d/%Y") %> </h3>
 <h3> Start Time: <%= r.start_time.strftime("%H:%M") %> </h3>
<% end %>

<table>
  <tbody>
    <tr>
      <%= month_calendar events: @reminders do |date, reminders| %>
        <p> <%= date.day %> </p>

        <% reminders.each do |r| %>
          <% if date == r.date %>
            <div>
              <%= r.reminder_name %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>

<h3>Create A New Reminder</h3>
<%= render 'form' %>
