<h1>Hi Alice, this is what you have going on this month!</h1>

<% if false %>
<% @reminders.each do |r| %>
 <h1> Reminder: <%= r.reminder_name %> </h1>
 <h3> Date: <%= r.date.strftime("%m/%d/%Y") %> </h3>
 <h3> Start Time: <%= r.start_time.strftime("%H:%M") %> </h3>
 <h3> Duration: <%= r.duration %>min </h3>
<% end %>
<% end %>

<table>
  <tbody>
    <tr>
      <%= month_calendar events: @reminders do |date, reminders| %>
        <p> <%= date.day %> </p>

        <% reminders.each do |r| %>
          <% if date == r.date %>
            <div>
             <%= r.start_time.strftime("%H:%M") %> <%= r.reminder_name %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>


<h3>Create A New Reminder</h3>
<div class="calendar">
  <%= render 'form' %>
</div>
