<h1>Hi Betty, today is <%="#{Date.today.strftime("%A, %b %d")}" %></h1>
<% @reminders.each do |r| %>
  <% if r.date == Date.today %>
    <div id="today_event">
      <h1><%= r.reminder_name %></h1>
      <h2>Date: <%= r.date.strftime("%m/%d/%Y") %>,</h2>
      <h2>Start Time: <%= r.start_time.strftime("%H:%M")%>,</h2>
      <h2>Duration: <%= r.duration %>min,</h2>
      <h2>Repetition: <%= r.repetition %></h2>
      <h2>Notification: <%= r.notification %></h2>
      <h2>Completed: <%= r.completion %>  </h2>
      <div>
        <button class="submit-notification" id="submit-form"> Notify Me </button>
    </div>
    </div>
  <% end %>
<% end %>


<h3>Create A New Reminder</h3>

<div class="new-reminder">
    <%= render 'form' %>
</div>

<script>

  $(document).on('ready', function() {
  var notice = new PNotify({
  title: 'Todays Medications',
  text: 'Take two Vitamin D pills before Breakfast',
  buttons: {
      closer: false,
      sticker: false
  }
  });
  notice.get().click(function() {
      notice.remove();
  });
  var notice1 = new PNotify({
  title: 'Todays is a family Members Birthday',
  text: 'Call Them',
  buttons: {
      closer: false,
      sticker: false
  }
  });
  notice1.get().click(function() {
      notice1.remove();
  });
  var notice2 = new PNotify({
    title: 'Laundry will be ready at 6 PM',
    text: 'Put Clothes in the dryer at 5:30',
    buttons: {
      closer_hover: false,
      sticker_hover: false
    }
  });
  notice2.get().click(function() {
      notice2.remove();
  });


});

</script>
