<h1>Hi Betty, today is <%="#{Date.today.strftime("%A, %b %d")}" %></h1>
<<<<<<< HEAD

<%= link_to "Monthly View", reminders_path %> |
<%= link_to "My Family", families_path %> |
<%= link_to "My Medication", medications_path %>

<% @reminders.each do |r| %>
  <% if r.date == Date.today %>
    <div id="today_event">
      <h1><%= r.reminder_name %></h1>
      <h2>Date: <%= r.date.strftime("%m/%d/%Y") %>,</h2>
      <h2>Start Time: <%= r.start_time.strftime("%H:%M")%>,</h2>
      <h2>Duration: <%= r.duration %>min,</h2>
      <h2>Repetition: <%= r.repetition %></h2>
      <h2>Notification: <%= r.notification %></h2>
      <h2>Completed: <%= r.completion %>  </h2>
      <div>
        <button class="submit-notification" id="submit-form"> Notify Me </button>
    </div>
    </div>
  <% end %>
<% end %>


<h3>Create A New Reminder</h3>

<div class="new-reminder">
    <%= render 'form' %>
</div>

<div class="eventcontainer">
  <div class="today_event">
    <% @reminders.each do |r| %>
      <% if r.date == Date.today %>
        <div id="todays">
          <h1><%= r.reminder_name %></h1>
          <h2><strong>Date:</strong> <%= r.date.strftime("%m/%d/%Y") %></h2>
          <h2><strong>Start Time:</strong> <%= r.start_time.strftime("%H:%M")%></h2>
          <h2><strong>Duration:</strong> <%= r.duration %>min</h2>
          <h2><strong>Repetition:</strong> <%= r.repetition %></h2>
          <h2><strong>Notification:</strong> <%= r.notification %></h2>
          <h2><strong>Completed: </strong><%= r.completion %>  </h2>
          <div>
            <button class="submit-notification" id="submit-form"> Notify Me </button>
        </div>
        </div>
      <% end %>
    <% end %>
   </div>
   <aside id="icon"><%= image_tag("washer_360.png", alt: "washer")%></aside>
   <aside id="icon"><%= image_tag("pills_360.png", alt: "washer")%></aside>
   <aside id="icon"><%= image_tag("bday_360.png", alt: "washer")%></aside>
</div>
<!-- footer>
  <div class="newreminder">
  <h3>Create A New Reminder</h3>
  <%= render 'form' %>
  </div>
</footer> -->


<script>

  $(document).on('ready', function() {
  var notice = new PNotify({
  title: 'Todays Medications',
  text: 'Take two Vitamin D pills before Breakfast',
  hide: false,
  buttons: {
      closer: false,
      sticker: false
  }
  });
  notice.get().click(function() {
      notice.remove();
  });
  var notice1 = new PNotify({
  title: 'Todays is a family Members Birthday',
  text: 'Call Them',
  hide: false,
  buttons: {
      closer: false,
      sticker: false
  }
  });
  notice1.get().click(function() {
      notice1.remove();
  });
  var notice2 = new PNotify({
    title: 'Laundry will be ready at 6 PM',
    text: 'Put Clothes in the dryer at 5:30',
    hide: false,
    buttons: {
      closer_hover: false,
      sticker_hover: false
    }
  });
  notice2.get().click(function() {
      notice2.remove();
  });


});

</script>
