<!DOCTYPE html>
<html>
<head>
  <title>Moneta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>

  <% if controller_name == "welcome" && action_name == "index" %>

    <%= yield %>
  <div class="welcome_container">
    <div id="user_welcome"> <%= link_to "SIGN UP", new_user_path %></div>
    <div id="user_welcome"> <%= link_to "LOG IN", new_session_path %></div>

    <div id="caretaker_welcome"> <%= link_to "CAREGIVER SIGN UP", new_user_path %></div>
    <div id="caretaker_welcome"> <%= link_to "CAREGIVER LOG IN", new_session_path %></div>
  </div>

  <% end %>

  <% unless controller_name == "welcome" && action_name == "index" %>

    <%= yield %>
  <footer>
    <p class="userinfo">
      <% if current_user %>
        Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
      <% end %>
    </p>
  <% end %>
  </footer>

</body>
</html>